<sw-modal class="mollie-import-modal"
          :title="$tc('mollie-payments.config.import.modalTitle')"
          @modal-close="$emit('close')">

    <mollie-file-select :allowMultiSelect="false"
                        :source="source"
                        :label="$tc('mollie-payments.config.import.selectFile')"
                        variant="compact"
                        fileAccept="application/json"
                        @file-selected="selectFiles"
                        @file-removed="source = null"
    ></mollie-file-select>

    <sw-container v-if="source && configs.length > 0">
        <sw-container gap="16px" columns="1fr 24px 1fr" align="center">
            <sw-single-select v-model="sourceSalesChannel"
                              :options="sourceSalesChannelOptions"
                              size="medium"/>

            <sw-icon name="small-arrow-small-right"></sw-icon>

            <sw-entity-single-select
                v-model="targetSalesChannel"
{#                :disabled="disabled"#}
                :placeholder="$tc('mollie-payments.config.import.globalSettings')"
                :reset-option="$tc('mollie-payments.config.import.globalSettings')"
                entity="sales_channel"
                show-clearable-button
                size="medium"/>
        </sw-container>

        <div v-for="card in changeSet">
            {{ card.title[currentLocale] }}

            <div v-for="element in card.elements">
{#                {{ element }}#}
                {{ element.config.label[currentLocale] }} => {{ sourceConfig[element.name] }}
            </div>
        </div>
    </sw-container>

    <template #modal-footer>
        <sw-button size="small"
            {#                   :isLoading="isSubmitting" #}
                   @click="$emit('close')">
            {{ $tc('mollie-payments.config.import.btnCancel') }}
        </sw-button>

        <sw-button-process size="small"
                           variant="primary"
                           :animationTimeout="2500"
            {#                           :disabled="isLoading || !canSubmit" #}
            {#                           :isLoading="isSubmitting" #}
                           :processSuccess="false"
            {#                           @click="onRequestSupport" #}
                           @process-finish="mailSent = false">
            {{ $tc('mollie-payments.config.import.btnConfirm') }}
        </sw-button-process>
    </template>
</sw-modal>
