@import "~scss/variables";

$mollie-file-select-border-color:                 $color-gray-300;
$mollie-file-select-color-highlighted:            $color-shopware-brand-500;
$mollie-file-select-color-switch-mode:            $color-shopware-brand-500;
$mollie-file-select-border-radius:                $border-radius-default;
$mollie-file-select-upload-background-color:      $color-gray-100;
$mollie-file-select-background-color-highlighted: $color-shopware-brand-50;
$mollie-file-select-caption-font-size:            $font-size-large;
$mollie-file-select-caption-icon-color:           $color-gray-300;

.mollie-file-select {
    .mollie-file-select__file-input {
        display: none;
    }

    .mollie-file-select__header {
        display: flex;
        flex-direction: row;
        line-height: 16px;
        min-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: $color-darkgray-200;
        font-weight: normal;
        user-select: none;
    }

    .mollie-file-select__help-text {
        align-self: center;
        margin-left: 8px;
    }

    .mollie-file-select__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        width: 100%;

        &.has--source {
            .mollie-file-select__file-info {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 14px;
            }
        }

        .mollie-file-select__file-info {
            width: 100%;
        }

        .mollie-file-select__file-headline {
            word-break: break-word;
            padding-right: 16px;
        }

        .mollie-file-select__remove-icon {
            flex-shrink: 0;
            margin-left: auto;
            cursor: pointer;
        }
    }

    .mollie-file-select__file-form {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 8px;
        align-items: center;
        justify-content: center;
        justify-items: start;

        &.has--preview {
            grid-column-gap: 55px;
        }
    }

    .mollie-file-select__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;
        margin-right: 16px;
        width: 96px;
        height: 96px;
        border: 2px solid $mollie-file-select-border-color;
        border-radius: $mollie-file-select-border-radius;

        &.is--fallback {
            border: 2px dashed $mollie-file-select-border-color;
        }
    }

    .mollie-file-select__fallback-icon {
        color: $color-gray-300;
    }

    .mollie-file-select__button {
        min-width: 144px;
        margin: 8px 0;
    }

    .sw-media-preview-v2 {
        border: none;

        .sw-media-preview-v2__item {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.mollie-file-select__dropzone {
    padding: 24px;
    min-height: 148px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dashed $mollie-file-select-border-color;
    border-radius: $mollie-file-select-border-radius;
    background-color: $mollie-file-select-upload-background-color;
    position: relative;

    &.is--compact {
        padding: 5px;
        min-height: unset;

        .mollie-file-select__preview {
            width: 35px;
            height: 35px;
        }

        .mollie-file-select__button {
            margin: 0;
        }
    }

    &.is--multi {
        flex-direction: column;
        justify-items: center;
        padding: 36px 24px;

        &.is--compact {
            flex-direction: row;
            justify-content: space-between;
            padding: 5px;
            min-height: unset;

            .mollie-file-select__upload-caption {
                font-size: $font-size-small;
            }

            .mollie-file-select__actions {
                margin-top: unset;
                width: unset;

                .mollie-file-select__button {
                    margin: 0;
                }
            }
        }

        .mollie-file-select__actions {
            margin-top: 12px;
            margin-left: unset;
            flex-direction: row;
            padding-left: unset;

            .mollie-file-select__button {
                margin: 0 8px;
            }
        }
    }

    &.is--active {
        border-color: $mollie-file-select-color-highlighted;
        background-color: $mollie-file-select-background-color-highlighted;
        color: $mollie-file-select-color-highlighted;

        .mollie-file-select__upload-caption {
            .sw-icon {
                color: $mollie-file-select-color-highlighted;
            }
        }
    }

    .mollie-file-select__upload-caption {
        font-size: $mollie-file-select-caption-font-size;
        text-align: center;

        .sw-icon {
            margin-right: 8px;
            color: $mollie-file-select-caption-icon-color;
        }
    }
}
