{% block mollie_file_select %}
    <div class="mollie-file-select">

        <div class="mollie-file-select__content">
            {% block mollie_file_select_compact %}
                <template v-if="variant == 'button'">
                    {% block mollie_file_select_compact_button_file_upload %}
                        <sw-button
                            :disabled="disabled"
                            class="mollie-file-select__button-compact-upload"
                            variant="primary"
                            @click="onClickUpload"
                        >
                            {{ $tc('global.mollie-file-select.button', snippetPlurality) }}
                        </sw-button>
                    {% endblock %}
                </template>
            {% endblock %}

            {% block mollie_file_select_regular %}
                <template v-else>
                    {% block mollie_file_select_regular_header %}
                        <div v-if="showHeader" class="mollie-file-select__header">
                            {% block mollie_file_select_regular_header_label %}
                                <!-- eslint-disable-next-line vuejs-accessibility/label-has-for -->
                                <label
                                    v-if="label"
                                    class="mollie-file-select__label"
                                >
                                    {{ label }}
                                </label>
                            {% endblock %}

                            {% block mollie_file_select_regular_header_helptext %}
                                <sw-help-text
                                    v-if="helpText"
                                    class="mollie-file-select__help-text"
                                    :text="helpText"
                                />
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block mollie_file_select_regular_drop_zone %}
                        <div
                            ref="dropzone"
                            class="mollie-file-select__dropzone"
                            :class="isDragActiveClass"
                        >

                            {% block mollie_file_select_preview %}
                                <template v-if="showPreview">
                                    {% block mollie_file_select_regular_preview_file %}
                                        <sw-media-preview-v2
                                            v-if="source || preview"
                                            class="mollie-file-select__preview"
                                            :source="source || preview"
                                        />
                                    {% endblock %}
                                    {% block mollie_file_select_regular_preview_fallback %}
                                        <div
                                            v-else
                                            class="mollie-file-select__preview is--fallback"
                                        >
                                            <sw-icon
                                                class="mollie-file-select__fallback-icon"
                                                name="default-object-image"
                                            />
                                        </div>
                                    {% endblock %}
                                </template>

                                <template v-else>
                                    {% block mollie_file_select_regular_caption %}
                                        <div class="mollie-file-select__upload-caption">
                                            <sw-icon name="default-action-cloud-upload" />
                                            {{ $tc('global.mollie-file-select.caption', snippetPlurality) }}
                                        </div>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block mollie_file_select_actions %}
                                <div
                                    class="mollie-file-select__actions"
                                    :class="{ 'has--source': source }"
                                >

                                    <div
                                        v-if="source"
                                        class="mollie-file-select__file-info"
                                    >
                                        <div class="mollie-file-select__file-headline">
                                            {{ source | mediaName }}
                                        </div>
                                        <sw-icon
                                            v-if="!disabled"
                                            class="mollie-file-select__remove-icon"
                                            name="small-default-x-line-small"
                                            small
                                            @click="onRemoveMediaItem"
                                        />
                                    </div>

                                    <template v-else>
                                        {% block mollie_file_select_regular_actions_add %}
                                            <template>
                                                {% block mollie_file_select_regular_upload_button %}
                                                    <sw-button
                                                        class="mollie-file-select__button upload"
                                                        variant="ghost"
                                                        size="small"
                                                        :disabled="disabled"
                                                        @click="onClickUpload"
                                                    >
                                                        {{ $tc('global.mollie-file-select.button', snippetPlurality) }}
                                                    </sw-button>
                                                {% endblock %}
                                            </template>
                                        {% endblock %}
                                    </template>

                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </template>
            {% endblock %}
        </div>

        {% block mollie_file_select_file_input %}
            <form
                ref="fileForm"
                class="mollie-file-select__form"
            >
                <!-- eslint-disable-next-line vuejs-accessibility/form-control-has-label -->
                <input
                    id="files"
                    ref="fileInput"
                    class="mollie-file-select__file-input"
                    type="file"
                    :accept="fileAccept"
                    :multiple="multiSelect"
                    @change="onFileInputChange"
                >
            </form>
        {% endblock %}
    </div>
{% endblock %}
